{
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-extra-boolean-cast": 0,
    "eqeqeq": 2,
    "max-len": [
      0,
      80,
      4,
      {
        "ignoreUrls": true
      }
    ]
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
